<section class="about_containiner" id="about">
    <div class="about-header">
      

        <h2>About Me</h2>
        <!-- <p>We create dynamic UI/UX websites that work on any devices.</p> -->
        <span id="divider"></span>
    </div>


    <div class="about-info">
        <div class="abtImg left slideIn"></div>
        <div class="abtText right slideIn">
            <p>I am a Full-stack web developer, I have good skills in Html, Css, Javascript, React-js, Node-Js and figma. I have the ability to provide you technical Assistance and guildians in your project, Passionate About Building Web Pages, Improving Lives Of Those Around Me and i love to work in User Experience & User Interface designing. Because I love to solve the design problem and find easy and better solutions to solve it.</p>
            
            <div class="moreInfo">
           <div class="info1">
               <h2>Name:</h2>
            <span>Emmanuel A.O</span>
        </div>

        
        <div class="info1">
            <h2>Email:</h2>
            <span>iam4emmax@gmail.com</span>
        </div>
        <div class="info1">
            <h2>Github:</h2>
            <span>iamemmax </span>
        </div>
        <div class="info1">
            <h2>Phone:</h2>
            <span>+2349069003426</span>
        </div>
        
    </div>
        
    </div>


</section>
    <div class="about_work">
        <div class="abtwork_inner">
            <div class="abt_box1 fade">
                <div class="abt_icon">
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <div class="abtwork_text">
                    <h2>fast</h2>
                    <p>Fast load times and lag free interaction, my highest priority.</p>
                </div>
            </div>
            <div class="abt_box2 fade">
                <div class="abt_icon">
                    <i class="fas fa-desktop"></i>
                </div>
                <div class="abtwork_text">
                    <h2>Responsive</h2>
                    <p> My layouts will work on any device, big or small. </p>
                </div>

            </div>

            <div class="abt_box3 fade">
                <div class="abt_icon">
                    <i class="fas fa-globe"></i>
                </div>
            <div class="abtwork_text">
                <h2>Dynamic</h2>
                <p> Websites don't have to be static, I love making pages come to life. </p>
            </div>
        </div>
    </div>
    </div>



    <!-- skills -->
    <div class="skills">
        <div class="skills-inner">
            <div class="skill-text left slideIn">
                <h3>I'm Expert on</h3>
                <h2>Let's Work Together</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, saepe perspiciatis tempora reprehenderit recusandae sit itaque minima, </p>
                <a href="">Hire me</a>
            </div>
            <div class="skill-details standstill">
                <div class="skill1">
                    <p id="html">Html</p>
                    <span>90%</span>
                </div>
                <div class="skill1">
                    <p id="css">css</p>
                    <span>80%</span>

                </div>
                <div class="skill1"><p id="java">Javascript</p>
                    <span>70%</span>
                    
                </div>
                <div class="skill1"><p id="node">NodeJs</p>
                    <span>75%</span>
                
                </div>
                <div class="skill1"><p id="react">React</p>
                    <span>55%</span>
                    
                </div>
                <div class="skill1"><p id="figma">figma</p>
                    <span>65%</span>
                
                </div>
            </div>
        </div>
    </div>