
    <section class="contact_container" id="contact">
        <div class="contact-inner">
            <h3>HAVE ANY QUERY?</h3>
    
            <h2>Contact Me</h2>
            <p>Have a question or want to work together? </p>
            <span id="divider"></span>
        </div>

            <div class="contact_address">
                <div class="address1 fade">
                    <div class="contact_add_icon">
                        <i class="fa fa-map-marker-alt"></i>
                    </div>
                    <div class="contact_add_info">
                        <h2>Locate us</h2>
                        <p>N0 5 maya Adamo, Ikorodu lagos</p>
                    </div>
                </div>
                <div class="address2 fade">
                    <div class="contact_add_icon">
                        <i class="fa fa-phone-alt"></i>
                    </div>
                    <div class="contact_add_info">
                        <h2>Give me a call</h2>
                        <p>+2349069003426</p>
                    </div>
                </div>
                <div class="address3 fade">
                    <div class="contact_add_icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact_add_info">
                        <h2>Get in Online</h2>
                        <p>iam4emmax@gmail.com</p>
                    </div>
                </div>
            </div>


            <div class="contact-form">
                <form  action="/" method="POST">
                    <div class="top_form">
                    <div class="name" >
                        <input type="text" name="name" placeholder="Your name"  class="top">
                    </div>
                    <div class="email">
                        <input type="email" name="email" placeholder="Your email" class="top">
                    </div>
                </div>
                    <div class="subject">
                        <input type="text" name="subject" placeholder=" Your subject">
                    </div>
                    <div class="subject">
                        <textarea name="msg"  placeholder="Your Message"></textarea>
                    </div>
                    <button  type="submit" >Send Message</button>
                </form>
            </div>


        </section>

        
       