<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/banner.css">
  <link rel="stylesheet" href="/css/service.css">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/portofolio.css">
  <link rel="stylesheet" href="/css/testimonial.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" href="/css/contact.css">
  <link rel="stylesheet" href="/css/footer.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  
  <section class="wrapper" id="home">
    <div class="header-container" id="header">
        <div class="header-box">
          <div class="logo">
            <a href=""><h1>Emmax<span style="color: #ff4a57;">D</span>ev</h1</a>
          </div>
             <nav>
                  <ul>
                      <li class="home"><a href="#home">Home</a></li>
                      <li class="service"><a href="#service" >Services</a></li>
                      <li class="about"><a href="#about">About</a></li>
                      <!-- <li><a href="#">Skills</a></li> -->
                      <li class="porto"><a href="#porto">Portofolio</a></li>
                      <li class="blog"><a href="#blog">Blog</a></li>
                      <li class="contact"><a href="#contact">Contact</a></li>
                </ul>
             </nav>
              <div class="menu-bar" id="bar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>

            </div>
            <div class="cancel">
                <i class="fa fa-times" id="cancel"></i>
            </div>
          </div>

          <div class="clickToRemove"></div>
      
  