<section class="service_containiner" id="service">
    <div class="section-header" id="service">
        <h3>Services</h3>

        <h2>My Services</h2>
        <p>I create dynamic UI/UX websites that work on any devices.</p>
        <span id="divider"></span>
    </div>

    <div class="services-info">
        <div class="section-box1 fade">
            <div class="box-img">
                <i class="fas fa-desktop"></i>
            </div>
            <div class="box-text">
                <h2>Responsive Web Design</h2> 
                <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
                
            </div>
        </div>
        <div class="section-box2 fade">
            <div class="box-img">
                <i class="fab fa-github"></i>
            </div>
            <h2>Web Development</h2>
            <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
        </div>
        <div class="section-box fade">
            <div class="box-img">
                <i class="fa fa-mobile"></i>
            </div>

            <h2>Web App Development</h2>
            <p>I create secured web application and  Everywhere & Every Device, Your Site Should Flow Seamlessly</p>
        </div>
    </div>
</section>