<section class="testimonia_container" id="testimonial">
    <div class="client">
        <div class="client1 scaleUp slidedown">
            <i class="fas fa-users"></i>
            <p class="counters" data-nr="40 ">0</p>
            <h3>Clients</h3>
        </div>
        <div class="client2 scaleUp slidedown">
            <i class="fab fa-accusoft"></i>
            <p class="counters" data-nr="200">0</p>
            <h3>Project</h3>
        </div>
        <div class="client3 scaleUp slidedown">
            <i class="far fa-gem"></i>
            <p  class="counters" data-nr="2">0</p>
            <h3>Award</h3>
        </div>
        <div class="client4 scaleUp slidedown">
            <i class="fab fa-github"></i>
            <p  class="counters" data-nr="4">0</p>
            <h3>Years of Experience</h3>
        </div>
    </div>
</section>



<section class="client-comment">

    <div class="comment_inner">

        <div class="comment left slideIn" >
            <h3>Our testimonial</h3>
            <h2>Happy Clients Says</h2>
            <p>Having your clients trusting you with their repeat business is the best testimonial you’ll ever get.</p>
            <a href="javascript:void()">Learn More</a>
        </div>

        <div class="test-slider right slideIn">
            <div class="slide-item">
                <div class="items active">

                    <div class="caption">
                        <div class="test-comment">
                           <p> <i class="fas fa-quote-left"></i> <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius maxime molestiae neque, accusamus blanditiis saepe fugit harum. Modi, enim consectetur.</q></p>
                        </div>
                                <div class="testifier">
                                    <div class="img">
                                    <img src="https://themebing.com/html/amike/assets/images/1.jpg" alt="">
                                    </div>   
                                        <div class="testName">
                                            <p>Eden Harzard</p>
                                            <span>Google developer</span>
                                        </div>                                 
                                </div>
                     </div>
            </div>
                <div class="items">

                    <div class="caption">
                        <div class="test-comment">
                           <p> <i class="fas fa-quote-left"></i> <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius maxime molestiae neque, accusamus blanditiis saepe fugit harum. Modi, enim consectetur.</q></p>
                        </div>
                                <div class="testifier">
                                    <div class="img">
                                    <img src="https://themebing.com/html/amike/assets/images/1.jpg" alt="">
                                    </div>   
                                        <div class="testName">
                                            <p>ojo Harzard</p>
                                            <span>emmax developer</span>
                                        </div>                                 
                                </div>
                     </div>
            </div>
                <div class="items">

                    <div class="caption">
                        <div class="test-comment">
                           <p> <i class="fas fa-quote-left"></i> <q>sssssssssssssssssssssssssssssssssssssssssssssssssssssssss.</q></p>
                        </div>
                                <div class="testifier">
                                    <div class="img">
                                    <img src="https://themebing.com/html/amike/assets/images/1.jpg" alt="">
                                    </div>   
                                        <div class="testName">
                                            <p>mason mount</p>
                                            <span>facebook developer</span>
                                        </div>                                 
                                </div>
                     </div>
            </div>

            <div class="controlBtn">
                <i class="fas fa-angle-left  prev" ></i>
                <i class="fas fa-angle-right  next"></i>
            </div>
    </div>

</section>


<section class="brand-company">
    <div class="brand-inner">
        <div class="brand1">
            <img src="https://themebing.com/html/amike/assets/images/logo-01-w.png" alt="logo">
        </div>
        <div class="brand2">
            <img src="https://themebing.com/html/amike/assets/images/logo-03-w.png" alt="logo2">
        </div>
        <div class="brand3">
            <img src="https://themebing.com/html/amike/assets/images/logo-01-w.png" alt="logo">

        </div>
        <div class="brand4">
            <img src="https://themebing.com/html/amike/assets/images/logo-05-w.png" alt="logo2">
        </div>
        <div class="brand5">
            <img src="https://themebing.com/html/amike/assets/images/logo-04-w.png" alt="logo">
        </div>
    </div>

</section>