@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  body{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    /* overflow: hidden; */
  }

  .header-container{
     position: relative;
      width: 100%;
      height: 12vh;
      overflow: hidden;
      width: 100%;
    }
    
    .header-box{
        width: 85%;
        position: relative;
        display: flex;
        margin: 0px auto;
        height: 12vh;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        /* border: 2px solid red; */
  }

  .header-box h1{
      color: #eee;
      font-size: 27px;
      font-family: 'Lobster', cursive;
      font-weight: 500;
  }

  .header-box ul{
      display: flex;
      padding: 10px;

  }
  .header-box ul li a{
      color: #eee;
      font-weight: 500;
      padding: 10px 15px;
      text-decoration: none;
      font-size: 14px;
      margin: 5px;
      transition: all .8s ease-in;

  }
  .header-box ul a:hover{
      color: #ff4a57;
      transition: all .8s ease-in;
  }
  
  .header-box .active  a{
    color: #ff4a57;
    transition: all .8s ease-in;
    
  }

  /* change background onscroll */
  .backgroundOnStroll{
      background: #1f2235 !important;
      /* position: fixed !important; */
      z-index: 9999;
      transition: background .7s ease-in;
      width: 100% !important;
      left: 0;
      
      
  }

  .menu-bar{
      display: none;
  }
  #cancel{
    display: none;
    position: absolute;
    cursor: pointer;
    font-size: 30px !important;
    top: 12px;
    color: #eee;
    right: 0rem;
    padding: 10px 15px;

  }
  /* on mobile */

  @media screen and (max-width:790px){
    
    .clickToRemove{
        /* border: 2px solid red; */
        width: 80%;
        height: 90vh;
        position: fixed;
        bottom: 0;
        right: 0;
        top:12vh;
        display: none;
        z-index: 999 !important;
       
    }
    #cancle{
        cursor: pointer;
        display: block;
    }
    .remove{
        display: none !important;
    }
    .showTab{
        display: block !important;
        z-index: 9999 !important;
    }

    .backgroundOnStroll{
        background: #1f2235 !important;
        position: fixed !important;
        z-index: 9999;
        transition: background .7s ease-in;
        width: 100% !important;
        left: 0;
        
        
    }
  
    .menu-bar{
        /* border: 2px solid red; */
        width: 50px;
        position: absolute;
        right: 0rem;
        height: 50px;
        padding: 10px 15px;
        cursor: pointer;
        display: flex;
        /* margin-right: 1rem; */
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        z-index:999;

    }
    .menu-bar > div{
        background: #eee;
        width:23px;
        height: 2px;
       

    }
   
    


    .header-box ul{
        position: fixed;
        display: block;
        background: #1f2235;
        height: 88vh;
        top: 12vh;
        z-index: 999 !important;
        /* border: 2px solid red; */
        width: 230px;
        left: 0;
        /* z-index: 3 !important; */
        transform: translateX(-100%);
        transition: transform .7s ease-in;
    }
    .header-box ul a{
        display: block;
        line-height: 35px;
        z-index: 999999 !important;
        
    }
    .toggleNav{
        transform: translateX(0%) !important;
        transition: transform .7s ease-in;
    }
    /* remove toggle class when clicking outside */
   
  }