/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  height: 1000px;

}

/* for slide from left and right animations */
.left{
    transform: translateX(-50%);
    opacity: 0;
    transition: transform .5s ease, opacity .5s ease-in;
}
.right{
    transform: translateX(50%);
    opacity: 0;
    transition: transform .5s ease, opacity .5s ease-in;
}
.scaleUp{
    transform: scale(0);
    opacity: 0;
    transition: transform .5s ease, opacity .5s ease-in;
}

/* animations end here */
.testimonia_container{
    position: relative;
    background-color: #24263b;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
   


}

.client{
    width: 85%;
    margin: 1rem auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    
}
.client > div{
    /* border: 2px solid #fff; */
    width: 220px;
    height: 180px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.client > div i{
    color: rgb(192, 186, 186);
    font-size: 40px;
    padding: 10px 0;
}
.client > div p {
    color: #eee;
    font-size: 30px;
    color: var(--primarry);
    font-weight: 500;
    padding: 10px 0;
    font-family: 'Montserrat'  sans-serif;

}


.client > div h3{
    font-size: 18px;
    color: rgba(238, 238, 238, 0.39);
    font-weight: 500;
    padding: 5px 0;

}


.client-comment{
    position: relative;
    background-color: #2b2d42;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
}

.client-comment > .comment_inner{
    width: 85%;
    margin: 4rem auto;
    /* border: 2px solid red; */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap row;
    overflow-x: hidden;
}

.client-comment > .comment_inner > div{
    width: 500px;
    /* margin: 10px; */
    height:350px;
    max-width: 100%;
    max-width: 100%;
    
    overflow: hidden;
    /* border: 2px solid red; */
}



/* testimonia slider */
.client-comment .test-slider  .caption {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    max-width: 100%;
    width: 100%;
    
    
}
.client-comment  .test-slider .slide-item .items{
    display: none;
    position: relative;
}
.client-comment  .test-slider .slide-item  .active{
    display: flex !important;
 
}

.controlBtn{
    position: absolute;
    top: 65%;
    right: 2rem;
    /* border: 2px solid red; */
    transform: translateY(-50%);
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}
.controlBtn i{
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #ff4a57;
    transition: background .7s ease;

}
.controlBtn i:hover{
    background-color: #ff4a57;
    color: #fff;
    transition: background .7s ease;
}



.client-comment .test-slider  .caption > div{
    width: 100%;
    height: auto;
    margin: 5px;
    overflow: hidden;
}
.client-comment .caption .test-comment{
    background-color: #24263b;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-family: 'Montserrat'  sans-serif; */
    /* border: 2px solid red; */
    height: 200px !important;
    

}
.client-comment .caption .test-comment p{
  color: rgb(192, 186, 186);
  width: 90%;
  line-height: 27px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  padding: 10px 40px;

}

.client-comment .caption .testifier{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    width: 100%;
}

.client-comment .caption .testifier div{
    width: 100px;
    height: 100px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* margin: 10px; */
    
}
.client-comment .caption .testifier div img{
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border: 3px solid #fff;
   align-self: center;
}


 .testifier > .img {
    /* border: 1px solid blue !important; */
    width: 70px !important;
}
.client-comment .testName{
    flex: 2;
    color: #fff;
}
.test-comment p > i{
    /* color: red; */
    font-size: 30px;
    
    
}
.client-comment .testName  p{
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0px;
}
.client-comment .testName span{
    font-weight: 500;
    font-size: 14px;
    color: rgba(221, 221, 221, 0.685);
}

.comment_inner > .comment{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border: none !important;
}
.comment_inner > .comment h3{
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #ff4a57;
    text-transform: uppercase;
}

.comment_inner > .comment h2{
    padding: 5px 0;
    color: #eee;
    font-weight: 900;
    font-size: 25px;
}
.comment_inner > .comment p{
    padding: 5px 0;
    color: rgba(221, 221, 221, 0.685);
    font-family: 'Montserrat'  sans-serif !important;
    font-size: 14px;
    line-height: 25px;
    font-weight:500;
    margin-bottom: 1.5rem;
    
}
.comment_inner > .comment a{
    padding: 10px 25px;
      /* border: 1px solid #ff4a57; */
      border-radius: 20px;
      color: #eee;
      font-weight: 500;
      transition: background .5s ease;
}
.comment_inner > .comment a:hover{
    background: #ff4a57;
    transition: background .5s ease;
}

.fa-quote-left{
    position: absolute;
    /* border: 2px solid red !important; */
    left: 20px;
}

/* brand company  */


.brand-company{
    position: relative;
    background-color: #24263b;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
}

.brand-company .brand-inner{
    width: 85%;
    margin: 2rem auto;
    /* border: 2px solid rgb(119, 119, 119); */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.brand-company .brand-inner > div{
    /* border: 2px solid #eee; */
    padding: 10px;
    width: 200px;
    height: 70px;
    margin: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.brand-company .brand-inner > div img{
    height: 30px;
    max-width: 100%;
    opacity: .3;
    transition: transform .5s ease;
   
}
.brand-company .brand-inner > div img:hover{
    opacity: 1;
    transition: transform .5s ease;
    transform: scale(0.9);
   
}
.slideAni{
    transition: all .7s ease-in;
    -moz-transition: all .7s ease-in;
    -webkit-transition: all .7s ease-in;
}






/* mobile view */
@media screen and (max-width:790px){
    .client{
        width: 100%;
    }
    .client > div{
        /* border: 2px solid #fff; */
        width: 35%;
        margin: 5px;
            }

            .client-comment .test-slider  .caption {
                width: 100%;
                height: 300px;
                max-width: 100%;
                
                
            }

            
.client-comment > .comment_inner > div{
    width: 100%;
    height: auto;
}
.controlBtn{
    right: 0;
    top: 15rem;
} 
.client > div h3{
    font-size: 130% !important;
    /* border: 2px solid red; */
   
}
.client > div p {
    font-size: 140% !important;
    /* border: 2px solid red; */
    padding: 10px;
   
}

}
@media screen and (min-width:792px) and (max-width:1350px){
   

    .client-comment{
        /* border: 2px solid blue; */
        width: 100%;
        
    }
    .client-comment > .comment_inner div{
           
    }
    .client > div{
        width: 20%;
        margin: 5px;
        
    
    }

    .client > div h3{
        font-size: 100%;
       
    }
    


    .client-comment .test-slider  .caption {
        
        height: 300px;
        width: 400px;
        max-width: 100%;
        /* border: 2px solid red; */
        
    }

    
.client-comment > .comment_inner > div{
/* width: 400px */
}
.controlBtn{
right: 0;
} 

.client-comment > .comment_inner{
    width: 85%;
    margin: 4rem auto;
    /* border: 2px solid red; */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap row;
    overflow-x: hidden;
}

.client-comment > .comment_inner > div{
    width: 48%;
    /* margin: 10px; */
    height:350px;
    max-width: 100%;
    
    
    overflow: hidden;
   
}




}
